{% extends "all.html" %}
{% block content %}
{% include 'settings_menu.html' %}
<h2>Change key on user</h2>
<p>To generate a new key for the logged in user push the button below. The new key
will be encrypted using the current user's OpenPGP public key. The encrypted
credentials will be sent as a downloadable file in you browser with the name
ddmail-credentials_new_key.asc to the user.</p>
<p>The new key will be encrypted with the current account users OpenPGP public key
with fingerprint: {{ current_user.openpgp_public_key.fingerprint }}</p>
<p>
<form action="" method="post">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<input type="submit" value="Change key">
</form>
</p>

{% endblock%}
