{% extends "all.html" %}
{% block content %}
{% include 'settings_menu.html' %}
<h3>Add Email Account</h3>
<p>To add a new email account, enter the email address and select the domain. The
new email account credentials will be encrypted using the current user's OpenPGP
public key. The encrypted credentials will be sent as a downloadable file in your
browser with the name ddmail-credentials_new_email_account.asc.
</p>
<p>
The new email account credentials will be encrypted with the current accounts users
the OpenPGP public key with fingerprint: {{ current_user.openpgp_public_key.fingerprint }}</p>
<p>

<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    {{ form.email.label }} {{ form.email(size=20) }}
    @
    <select name="domain">
    {% for domain in domains %}
      <option value="{{ domain.domain }}">{{ domain.domain }}</option>
    {% endfor %}
    </select>
    <p></p>
    <input type="submit" value="Add Email">
</form>
{% endblock%}
