{% extends "all.html" %}
{% block content %}
{% include 'settings_menu.html' %}
<h3>Change password on Email Account</h3>
<p>
The old password should be saved by the user 7 days from the password change.
Beacuse backups are saved 7 days. The new password will be encrypted using the
current user's OpenPGP public key. The encrypted credentials will be sent as a
downloadable file in you browser with the name ddmail-credentials_new_email_password.asc
to the user.
</p>

<p>
The new password will be encrypted with the current accounts users the OpenPGP
public key with fingerprint: {{ current_user.openpgp_public_key.fingerprint }}
</p>

<form action="" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  Email account:<br>
  <select name="change_password_on_email">
  {% for email in emails %}
    <option value="{{ email.email }}">{{ email.email}}</option>
  {% endfor %}
  </select>
  <br>
  {{ form.email_password.label }} <br> {{ form.email_password(size=20) }} <br> <br>
  <input type="submit" value="Change password">
</form>
{% endblock%}
