{% extends "all.html" %}:wq

{% block content %}
<h2>Terms</h2>
<p>Here you can find information regarding ddmail terms. By register an account or using our service you agree to those terms. If you do not follow those terms your account can be deleted with all its data and funds.
<p>
1. Follow Swedish law.
<p>
2. Do not send email to recipents that do not want them.
<p>
3. Do not send spam.
<p>
4. Do not engage in activities that damage ddmail service, its data or its users regarding confidentiality, integrity, availability, privacy or anonymity.
<p>
5.  In order to use our service, users are required to pay the monthly fee that are based on the account usage. If there are insufficient funds in the account on the first of the month to pay for the usage previous month the account will be disabled and after 21 days, if no payment has been made the account with all its data will be deleted.
<p>
6. Refunds are not supported.
<p>
    7. Availability, Security and Limitation of Liability<br>
We make reasonable efforts to maintain a high level of availability, reliability, and security of the Service. However, the Service is provided on an "as is" and "as available" basis, and we do not guarantee that the Service will be uninterrupted, error-free, or continuously available.
To the fullest extent permitted by applicable law, DDMail/Kodord AB shall not be liable for:
<ul>
    <li>-any loss of data, service interruptions, downtime, errors, defects, or failures affecting the Service.</li>
    <li>-any loss or damage arising directly or indirectly from loss of data, service interruptions, downtime, errors, defects, or failures affecting the Service.</li>
    <li>-any indirect, incidental, special, consequential, or punitive damages, including loss of profits, loss of revenue, loss of business, loss of data, business interruption, or loss of anticipated savings or opportunities.</li>
    <li>-any stress, inconvenience, financial loss, or other loss or damage arising out of or in connection with the use of, inability to use, interruption of, or failure of the Service.</li>
</ul>
Nothing in these terms shall exclude or limit any liability that cannot be excluded or limited under applicable law.

{% endblock%}
