{% extends "all.html" %} {% block content %}
<h2>Account and User Created</h2>
<p>Account: {{ account }}</p>
<p>Username: {{ user }}</p>
<p>Password: {{ cleartext_password }}</p>
<form action="{{ url_for('auth.download_keyfile') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input
        type="hidden"
        name="password_key"
        value="{{ cleartext_password_key }}"
    />
    <button type="submit">Download Keyfile</button>
</form>
{% endblock%}
