{% extends "all.html" %}:wq

{% block content %}
<h2>Help</h2>
<p>Here you can find help and instruction regarding ddmail e-mail system/service.</p>

<h3>Recommended mail clients</h3>
Thunderbird and K-9 Mail

<h3>IMAP mail server</h3>
Server name: mail.ddmail.se<br> 
Port: 993<br>
Connection security: SSL/TLS<br>
Authentication method: normal password<br>
Username: [email account address]<br>
Password: [email account password]<br>

<h3>Outgoing SMTP server</h3>
Server name: mail.ddmail.se<br>
Port: 465<br>
Connection security: SSL/TLS<br>
Authentication method: normal password<br>
Username: [email account address]<br>
Password: [email account password]<br>

<h3>Proxy Thunderbird traffic over Tor</h3>
Step 1: Install Tor(not Tor Browser) on your computer.<br>
Step 2: Start Thunderbird<br>
Step 3: Go to Settings -> General -> Network & Disk Space -> Connection -> Settings<br>
Step 4: Set Socks Host to 127.0.0.1 and port 9050<br>
Step 5: Enable SOCKS 5<br>
Step 5: Enable Proxy DNS when using SOCKS 5<br>
Step 6: Restart Thunderbird<br>

<h3>IMAP mail server using tor onion service</h3>
Server name: {% include 'tor_hostname' %}<br> 
Port: 143<br>
Connection security: None<br>
Authentication method: normal password<br>
Username: [email account address]<br>
Password: [email account password]<br>

<h3>Outgoing SMTP server using tor onion service</h3>
Server name: {% include 'tor_hostname' %}<br>
Port: 25<br>
Connection security: None<br>
Authentication method: normal password<br>
Username: [email account address]<br>
Password: [email account password]<br>

<h3>What is needed to add/use own domain with ddmail</h3>
The following dns records is nedded.<br>
MX record:<br>[your own domain]		3600	IN	MX	10 mail.ddmail.se.<p>
SPF as TXT record:<br>[your own domain]	3600	IN	TXT	"v=spf1 mx -all"<p>
DKIM as TXT record:<br>mail._domainkey.[your own domain] 3600	IN	TXT	"v=DKIM1; k=rsa;  \009p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA6Zih0sqbThqyq/ZuJ/VG1uTt3Gk2SOlXDvwLmXZUro1T2qcS+zpuPxIg5APR2Jwg7cdQqj2LzChpESMgsGBKYGChRuUTMwz3UFguduWOQYoZGF15FE1Hnga1+E/mlq2+4QPCXFo4RSJGfrxFD4mUldfRpF1p18N9nJ236SGuM7TLSQr59ITqxaqM8v/0Evj" "xHxAkHZ6aWcj2ID9lp \009K7ccXRhmvNjkMRHzB+Ewb7omuUABX24yp5nzqZU+Uc7CZwM+bgfZ94Lq5Gjsn/k05NiRl22eYKHj0RhysNybP0GG+HxZZlfYcqNfFLdeNL2edyIBFIED4kWgCbNWm6R88kjCwIDAQAB"<p>
DMARC as TXT record:<br>_dmarc.[your own domain]	3600	IN	TXT	"v=DMARC1; p=none"<p>

<p>Happy mailing :)</p>
{% endblock%}
