{% extends "all.html" %}
{% block content %}
<h2>Main</h2>
<p>E-mail system/service for reasonable paranoid people who value security, privacy and anonymity.</p>
The ddmail system/service is a email provider with strong focus on security, privacy and anonymity. Unlike many of our competitors we offer OpenPGP encryption "at rest" without storing the private keys on our infrastructure. The project code, all its server configuration and deployment scripts is open source and can be reviewed and used by anyone. You can use our service or you can start your own selfhosted ddmail alternative by using our code.
{% endblock %}
