{% extends "all.html" %}
{% block content %}
<h2>Main</h2>
<p>E-mail system/service for reasonable paranoid people who value security, privacy and anonymity.</p>
The ddmail project produce a email system and provides a email service. The focus is on security, privacy and anonymity. The project code, all its server configuration and deployment scripts is open source and can be reviewed and used by anyone. You can use our service or you can start your own selfhosted alternative by using our code.
{% endblock %}
