{% extends "all.html" %}:wq

{% block content %}
<h2>Terms</h2>
<p>Here you can find information regarding ddmail terms. By register an account you agree to those terms. If you do not follow those terms you account can be deleted with all its data.
<p>
1. Follow Swedish laws.
<p>
2. Do not send email te recipents that do not want them.
<p>
3. Do not send spam.
<p>
4. Do not engage in activities that damage ddmail service, its data or its users regarding confidentiality, integrity, availability, privacy or anonymity.
<p>
{% endblock%}
